<h1>TEMPLATES</h1>
<form id="template-form" onsubmit="createTemplate(); return false">
    <label for="textarea">Your message here:</label>
</br>
    <textarea id="textarea" name="textarea" rows="10" cols="100"></textarea>
    <button id="add-template">Done</button>
</form>

<div id="new">

</div>

<script>
    var addTemplateButton = document.querySelector("#add-template");
    var templateForm = document.querySelector("#template-form");
    var template = templateForm.textarea;


    addTemplateButton.addEventListener("click", createTemplate);
       
    function createTemplate(template) {
        console.log("test");
    }
</script>